<!--<p>
    <a ng-show='main.loginBtn' href="#!login">click here to login and apply to jobs</a>
</p>-->

<!-- <jobs-list> </jobs-list> -->

<!-- <div ui-view></div> -->
<!-- <div id='applicants-wrapper'> -->
<!-- <div id='jobs-list'> -->
<!-- <jobs-list></jobs-list> -->
<!-- </div> -->
<!-- <div id='applicants-list'> -->
<!-- <div id='regForm'> -->
<!-- <registration-form ng-show=$root.regForm></registration-form> -->
<!-- </div> -->
<!-- <job-description></job-description> -->
<!-- </div> -->
<!-- </div> -->

<div>
    <search-jobs></search-jobs>
</div>

<div id='main-grid'> 
    <!--<div ui-view >
        
    </div>-->
    <div id='left-col'>
        <div ui-view='left-column'></div>
    </div>
    <div id='right-col'>
        <div ui-view='right-column'></div>
    </div>
    
</div>