<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!--<link href="components/job-details/jobDetail.css" rel="stylesheet">--}}
         <link rel="stylesheet" href="views/stylesheets/jobDetail.css">
         <style>
             
         </style>
    </head>



    <body>
        {{{body}}}
    </body>
</html>